// main: style.scss
@font-face {
  font-family: 'Robusta Regular';
  src: url("../fonts/356EBC_27_0.woff2") format('woff2'),url("../fonts/356EBC_27_0.woff") format('woff');
  font-display: swap;
}

.robusta-regular {
  font-family: "Robusta Regular";
}
@font-face {
  font-family: 'Robusta Medium';
  src: url("../fonts/356EBC_29_0.woff2") format('woff2'),url("../fonts/356EBC_27_0.woff") format('woff');
  font-display: swap;
}

.robusta-medium {
  font-family: "Robusta Medium";
}
@font-face {
  font-family: 'Robusta Bold';
  src: url("../fonts/356EBC_2B_0.woff2") format('woff2'),url("../fonts/356EBC_2B_0.woff") format('woff');
  font-display: swap;
}

.robusta-bold {
  font-family: "Robusta Bold";
}